n8n_workflow.json
{
  "name": "Magic Engine - Groq (Key-Value Fix)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "magic-engine"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3-70b-8192"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"user\", \"content\": \"Scrie o poveste pentru {{ $json.body.name || 'un copil' }}\"}]"
            }
          ]
        }
      },
      "name": "Groq API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "responseBody": "={\n  \"success\": true,\n  \"text\": \"{{ $json.choices[0].message.content }}\"\n}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Groq API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq API Call": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
